# Streamlit for UI
streamlit

# Config and Environment Management
pydantic
pydantic-settings
python-dotenv

# Object Detection Models (YOLOv8, RTDETR, NAS)
ultralytics
opencv-python  # For image processing
pillow  # For handling image transformations

# YAML Parsing
PyYAML

# AWS S3 Integration
boto3

# SAHI for sliced inference
sahi

# PyTorch with CUDA 12.6 support for GPU acceleration
torch==2.0.1+cu126  # PyTorch version with CUDA 12.6
torchvision==0.15.2+cu126  # TorchVision with CUDA 12.6

# Additional dependencies for models or utilities
matplotlib  # For plotting images (used in sahi_utils.py)
